body {
    font-family: sans-serif;
    color: #4e4e4e;
}

.bg-img {
    background-image: url(..//images/bg.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.bg-img2 {
    background-image: url(..//images/tree.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.nav-line-visible::before {
    content: '';
    position: absolute;
    margin-left: 5px;
    height: 2px;
    top: 100%;
    left: 0;
    width: 70%;
    background-color: white;
}

.nav-line::before {
    content: '';
    margin-left: 5px;
    position: absolute;
    height: 2px;
    top: 100%;
    left: 0;
    width: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.nav-item:hover .nav-line::before {
    visibility: visible;
    width: 70%;
    background-color: white;
}

.dropdown-item:hover {
    color: #0078ff;
    background-color: transparent;
}

.w-85 {
    width: 85%;
}

h1 {
    font-size: 4.5rem;
}

.ani::after {
    content: "";
    animation: typing 10s infinite;
}

@keyframes typing {
    0% {content: "F|";}
    2% {content: "Fr|";}
    4% {content: "Fre|";}
    6% {content: "Free|";}
    8% {content: "Freel|";}
    10% {content: "Freela|";}
    12% {content: "Freelan|";}
    14% {content: "Freelanc|";}
    16% {content: "Freelance|";}
    17% {content: "Freelancer|";}
    19% {content: "Freelance|";}
    20% {content: "Freelanc|";}
    21% {content: "Freelan|";}
    22% {content: "Freela|";}
    23% {content: "Freel|";}
    24% {content: "Free|";}
    25% {content: "Fre|";}
    26% {content: "Fr|";}
    27% {content: "F|";}
    28% {content: "|";}
    30% {content: "D|";}
    32% {content: "De|";}
    34% {content: "Dev|";}
    36% {content: "Deve|";}
    38% {content: "Devel|";}
    40% {content: "Develo|";}
    42% {content: "Develop|";}
    44% {content: "Develope|";}
    46% {content: "Developer|";}
    47% {content: "Develope|";}
    48% {content: "Develop|";}
    49% {content: "Develo|";}
    50% {content: "Devel|";}
    51% {content: "Deve|";}
    52% {content: "Dev|";}
    53% {content: "De|";}
    55% {content: "Des|";}
    57% {content: "Desi|";}
    59% {content: "Desig|";}
    61% {content: "Design|";}
    63% {content: "Designe|";}
    64% {content: "Designer|";}
    65% {content: "Designe|";}
    66% {content: "Design|";}
    67% {content: "Desig|";}
    68% {content: "Desi|";}
    69% {content: "Des|";}
    70% {content: "De|";}
    71% {content: "D|";}
    72% {content: "|";}
    74% {content: "P|";}
    76% {content: "Ph|";}
    78% {content: "Pho|";}
    80% {content: "Phot|";}
    82% {content: "Photo|";}
    84% {content: "Photog|";}
    86% {content: "Photogr|";}
    87% {content: "Photogra|";}
    88% {content: "Photograp|";}
    89% {content: "Photograph|";}
    89.8% {content: "Photographe|";}
    90% {content: "Photographer|";}
    90.4% {content: "Photographe|";}
    90.8% {content: "Photograph|";}
    91% {content: "Photograp|";}
    92% {content: "Photogra|";}
    93% {content: "Photogr|";}
    94% {content: "Photog|";}
    95% {content: "Photo|";}
    96% {content: "Phot|";}
    97% {content: "Pho|";}
    98% {content: "Ph|";}
    99% {content: "P|";}
    100% {content: "|";}

}

.progress {
    border-radius: 0;
}

.text-clr {
    color: #4e4e4e;
}

.line {
    position: relative;
}

.line::before {
    content: '';
    position: absolute;
    width: 18%;
    background-color: #0078ff;
    height: 4px;
    top: 100%;
    margin: 16px 0;
}

.line2::before {
    content: '';
    position: absolute;
    width: 3%;
    background-color: #0078ff;
    height: 4px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: 16px 0;
}

.my-7 {
    margin-top: 6rem;
    margin-bottom: 7rem;
}

.fs-l {
    font-size: 3rem;
}

.border-12 {
    border: solid 12px #0078ff;
    transition: all 0.2s;
}

.p-45 {
    padding: 2rem;
}

.rounded-20 {
    border-radius: 20px;
}

.service:hover .border-12 {
    background-color: #0078ff;
    color: white;
    box-shadow: 0 0 0 12px #cde1f8;
}

.counter {
    background-image: url(..//images/sbg.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.shadow-blue {
    box-shadow: 0 0 0 10px #cde1f8;
    padding: 1rem;
}

.card-img img {
    transition: transform 1s;
}

.card:hover .card-img img {
    transform: scale(1.3);
}

.carousel-indicators [data-bs-target] {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
}

.h-60 {
    height: 60%;
}

.top-97 {
    top: 96%;
}

.hv-title {
    transition: color 0.5s;
}

.hv-title:hover {
    color: #0d6efd;
}

.btn-primary:hover {
    box-shadow: 0 0 0 6px #cde1f8;
}

.i-hv:hover {
    background-color: #0078ff;
    color: white;
    border: none;
    box-shadow: 0 0 0 5px #cde1f8;
}