body {
    font-family: sans-serif;
}

.bg-img {
    background-image: url(..//images/bg.jfif);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.nav-line-visible::before {
    content: '';
    position: absolute;
    margin-left: 5px;
    height: 2px;
    top: 100%;
    left: 0;
    width: 70%;
    background-color: white;
}

.nav-line::before {
    content: '';
    margin-left: 5px;
    position: absolute;
    height: 2px;
    top: 100%;
    left: 0;
    width: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.nav-item:hover .nav-line::before{
    visibility: visible;
    width: 70%;
    background-color: white;
}

.dropdown-item:hover {
    color: #0078ff;
    background-color: transparent;
}

.w-85 {
    width: 85%;
}

h1 {
    font-size: 4.5rem;
}

.progress {
    border-radius: 0;
}

.text-clr {
    color: #4e4e4e;
}

.line {
    position: relative;
}

.line::before {
    content: '';
    position: absolute;
    width: 18%;
    background-color: #0078ff;
    height: 4px;
    top: 100%;
    margin: 16px 0;
}